.project-header {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #1e1e1e;
  max-width: 180px; 
}

.project-header:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.project-title {
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 140px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* margin-right: 4px; */
  margin-bottom: 10px;
  color: white;
}


#dropdown-icon {
  flex-shrink: 0;
  fill: white;
}



.project-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  border: 1px solid #444;
  z-index: 10;
  width: 200px;
  padding: 5px 0;
}

.hidden {
  display: none;
}

.project-item {
  padding: 8px 12px;
  cursor: pointer;
  color: white;
}

.project-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
